.cardproducts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40vw;
    padding-top: 10px;
    margin: auto;
    /* margin-left: 30vw; */
    /* margin-top: 10vh; */
    color: black;
    background-color: yellow;
    border-radius: 20px;
}

.cardproduct-item {
    width: 95%;
    height: 100px;
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 10px;
    background-color: aqua;
    border-radius: 20px;
    justify-content: space-between;

}

.cardproduct-item_description {}